body {
    margin-right: 276px;
    margin-bottom: 246px;
}

.enlaces a { transition: background-color 0.6s ease-out; }

.typed-cursor { display: none; }
.center { text-align: center; }
.bold {font-weight: 400;}
.display-none { display: none; }
.font-08 { font-size: 0.8em; }

ol>li { transition: background-color 0.35s ease-out; }
.background-grey { background-color: grey; }

.panel {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333 !important;
    background-color: #eee;
}
.panel_hidden .panel_content {
    display: none;
}
.derecha.panel_hidden .panel_ocultar {
    position: fixed;
    right: 0;
    left: unset;
}
.derecha.panel_hidden .panel_ocultar {
    transform: rotate(180deg);
}
.abajo.panel_hidden .panel_ocultar::after {
    transform: rotate(270deg);
}

.panel .panel_ocultar {
    cursor:pointer;
    background-color: rgb(212, 212, 212);
    transition: background-color 0.350s ease-out;
}
.panel .panel_ocultar:hover {
    background-color: rgb(234, 166, 158);
}
.panel .panel_ocultar::after {
    color: #666;
}
.derecha {
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    min-width: 18px;
    position: fixed;
    overflow: auto;
}
.derecha ul { margin-bottom: 1.5rem; }
.derecha .panel_ocultar {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 18px;
}
.derecha .panel_ocultar::after {
    position: fixed;
    content: '\276F';
    display: inline-block;
    top: 49%;
    padding-left: 5px;
}
.derecha .panel_content {
    width: 250px;
    padding-left: 18px;
}
.abajo {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 268px;
    font-family: 'Courier New', Courier, monospace;
}
.abajo .panel_ocultar {
    position: relative;
    vertical-align: middle;
}
.abajo .panel_ocultar::after {
    left: 50%;
    content: '\276F';
    display: inline-block;
    transform: rotate(90deg);
    top: -2px;
    position: absolute;
}

.panel fieldset {
    border: 0px solid #333;
    margin-bottom: 20px;
    overflow: auto;
}
.abajo .panel_content {
    margin: 0;
    padding: 0;
}
.panel legend {
    font-size: 1.2em;
    text-align: center;
    padding: 3px 10px;
    background-color: #eee;
    border: 1px solid #333;
    cursor: pointer;
}
.panel .panel_content #console_log {
    overflow: auto;
    height: 220px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.panel .panel_content #console_log li {
    padding: 5px;
    margin: 0;
    cursor: default;
}
.panel .panel_content #console_log li:hover {
    background-color:rgb(234, 166, 158) !important;
}
.panel .panel_content #console_log li span {
    padding-right: 10px;
}
.panel .panel_content #console_log li pre {
    text-align: left;
    display: inline;
    white-space: break-spaces;
    margin: 0;
}
.panel .panel_content #console_log li:nth-child(even) {
    background-color:white;
}
.panel ul {
    padding: 0px;
    list-style-type: none;
}
.panel li {
    margin: 0px;
    padding: 5px 7px;
    cursor: pointer;
    transition: background-color 0.350s ease-out;
}
.panel li:hover, .panel li.active {
    background-color:rgb(234, 166, 158);
}
.panel a:hover { text-decoration: none; }
