body {
    padding-left: 2px;
    padding-right: 2px;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: purple;
    background-color: lightblue
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}

h1 {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: white;
}

h1.h1_customized {
    font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
    color: red;
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black
}

ul.navbar a {
    text-decoration: none
}

a:link {
    color: blue
}

a:visited {
    color: purple
}

.div_centrado {
    background-color: blue;
}


/**
 * A partir de aquí es código propio
 */
body {
    margin-right: 276px;
    margin-bottom: 246px;
}

.enlaces a {
    transition: background-color 0.6s ease-out;
}

.typed-cursor {
    display: none;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 400;
}

.display-none {
    display: none;
}

.font-08 {
    font-size: 0.8em;
}

ol>li {
    transition: background-color 0.35s ease-out;
}

.background-grey {
    background-color: grey;
}

.panel {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333 !important;
    background-color: #eee;
}

.panel.panel_hidden .panel_content {
    display: none;
}

.panel.derecha.panel_hidden .panel_ocultar {
    position: fixed;
    right: 0;
    left: unset;
}

.panel.derecha.panel_hidden .panel_ocultar {
    transform: rotate(180deg);
}

.panel.abajo.panel_hidden .panel_ocultar::after {
    transform: rotate(270deg);
}

.panel .panel_ocultar {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    transition: background-color 0.350s ease-out;
}

.panel .panel_ocultar:hover {
    background-color: rgb(234, 166, 158);
}

.panel .panel_ocultar::after {
    color: #666;
}

.panel.derecha {
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    min-width: 18px;
    position: fixed;
    overflow: auto;
}

.panel.derecha ul {
    margin-bottom: 1.5rem;
}

.panel.derecha .panel_ocultar {
    position: absolute;
    left: 0px;
    top: 0;
    bottom: 0;
    width: 18px;
}

.panel.derecha .panel_ocultar::after {
    position: fixed;
    content: '\276F';
    display: inline-block;
    top: 49%;
    padding-left: 5px;
}

.panel.derecha .panel_content {
    width: 250px;
    padding-left: 18px;
}

.panel.abajo {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 268px;
    font-family: 'Courier New', Courier, monospace;
}

.panel.abajo .panel_ocultar {
    position: relative;
    vertical-align: middle;
}

.panel.abajo .panel_ocultar::after {
    left: 50%;
    content: '\276F';
    display: inline-block;
    transform: rotate(90deg);
    top: -2px;
    position: absolute;
}

.panel.abajo .panel_content {
    margin: 0;
    padding: 0;
}

.panel .panel_content #console_log {
    overflow: auto;
    height: 220px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panel .panel_content #console_log li {
    padding: 5px;
    margin: 0;
    cursor: default;
}

.panel .panel_content #console_log li:hover {
    background-color: rgb(234, 166, 158) !important;
}

.panel .panel_content #console_log li span {
    padding-right: 10px;
}

.panel .panel_content #console_log li pre {
    text-align: left;
    display: inline;
    white-space: break-spaces;
    margin: 0;
}

.panel .panel_content #console_log li:nth-child(even) {
    background-color: white;
}

.panel ul {
    padding: 0px;
    list-style-type: none;
}

.panel li {
    margin: 0px;
    padding: 5px 7px;
    cursor: pointer;
    transition: background-color 0.350s ease-out;
}

.panel li:hover,
.panel li.active {
    background-color: rgb(234, 166, 158);
}

.panel a:hover {
    text-decoration: none;
}